.header {
  height: 100%;
}
//AD---------------------------------------------------
.ad {
  height: 54px;
  width: 100%;
  background-image: url('../../public/images/ad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
