.footer {
  background: #f8f8f8;
  &__container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas:
      'payment'
      'links'
      'newsletter'
      'socials'
      'copyright';
    gap: 3rem;
    padding: 1rem;
  }
  img {
    width: 140px;
    height: 40px;
    object-fit: contain;
  }
  &__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    ul {
      padding: 5px;
      li {
        font-size: 12px;
        a {
          color: #666;
          line-height: 23px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
