.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    'menu header header'
    'menu swiper user'
    'menu offers user';
  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    &__header {
      width: 100%;
      height: 35px;
      background: $grey-color;
      border-bottom: 1px solid $grey-color;
      box-shadow: $shadow-2;
      svg {
        height: 23px;
        width: 23px;
      }
    }
    &__list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: $grey-color;
        }
      }
      a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #424141;
        svg {
          fill: #8c8484;
          stroke: #8c8484;
        }
      }
    }
  }
  .header {
    grid-area: header;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .offers {
    grid-area: offers;
    overflow: hidden;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    background-image: url('../../../public/images/flash.webp');
    background-position: -275px -135px;
    background-size: cover;
  }
  .user {
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
}
